@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gray-950;
  display: flex;
  justify-content: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans";
  color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  @apply font-heading;
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 5px;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(14 165 233);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.shadow-banner::after {
  box-shadow: -3px 83px 100px -42px rgba(0, 0, 0, 1) inset;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100vw;
}
